.blog-summary {

    img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 2.5px solid #df9b9b;
        padding: 0px;
    }
}


#blog-main {
    @include flexitup(column);  
    img {
        max-width: 100%;
    }
}

.blog {
    @include flexitup(row);
    margin-bottom: 3rem;;

}

