

#blog-main {
    @include flexitup(column); 
    h3 {
        margin: 0;
    }
    p {
        margin: 0;
    } 

}

.blog {
    @include flexitup(column);
    margin-bottom: 2rem;

}

.blog-overview {

    @include flexitup(row);
    align-items: center;
    margin-left: 1rem; 


    .blog-icon-image {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 2.5px solid #df9b9b;
        margin-right: 1rem;
    }
    margin-bottom: 1rem;
}

.blog-date {
    font-size: 0.9rem;
}


.blog-summary {
    margin-left: 1rem;
}

.blog-image {
    border-radius: 5%;
    max-width: 100%;
    margin-top: 1rem;
}

@media screen and (min-width:800px){
   .blog-image {
       max-width: 750px;
   }

   #blog-main {
       align-content: center;
   }
   
}






