// Common styling for all pages


@mixin flexitup ($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
}

html {
    font-family: 'Zen Old Mincho', Georgia, serif;
    height: 100%;
    margin: 0;
    color: $primary-text-color;
}

body {
    background-color: $background-color;
    margin: 0 auto;
    min-height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.section-main {
    flex-grow: 1;
    font-family: 'Lora', Georgia, serif;

    button, input {
        font-family: 'Lora', Georgia, serif;
    }
}

h1, h2 {
    margin: 1rem 0;
}

section {
    padding: 1em;
}

.section-header {
    border-bottom: 0.08rem solid $primary-color-pastel;

    .logo img {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: 2.5px solid #df9b9b;
        text-align: center;
        padding: 0px;
    }
}



.section-footer {
    border-top: 0.08rem solid $primary-color-pastel;
}


.header {
    @include flexitup(row);

}

.logo {
    margin-right: 1em;
    align-self: flex-start;

}


.header-nav {
    @include flexitup(row);
    flex-grow: 1;
    align-items: center;

    a {
        padding: 0.1em 0.5rem 0.25rem 0.5rem;
        background-color: $primary-color-pastel;
        margin: 0.25em;
        border-radius: 10%;
        border: 3px solid white;
        color: white;
        font-weight: 00;
        text-decoration: none;
    }

    a:hover {
        color: white;
        text-shadow: 0px 0px 2px white;
    }
}

.header-left {
    @include flexitup(row);
    flex-grow: 1;
}

.header-right {
    @include flexitup(row);
}

.footer {
    @include flexitup(row);

}



.footer-nav {
    @include flexitup(row);

    a {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.25em;
        color: $primary-color-pastel;
        font-weight: bold;
    }

    a:hover {
        color: $complimentary-color1;
    }
}

.footer-links {
    @include flexitup(column);

}

.footer-social {
    @include flexitup(row);
    align-items: center;
    margin-left: 3em;

    a {
        display: flex;
        padding: 0.25em;
    }

    img {
        width: 30px;
        height: 30px;
    }
}




.main-header {
    padding-bottom: 0;

    p {
        
        text-align: center;
        font-size: 1.6rem;
        padding: 0;
        margin-bottom: 0;

    }

    a {
        text-decoration: none;
        color: rgb(78, 78, 209);
    }
}

.form-button {
    background-color: $primary-color-pastel;
    color: white;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 3px solid white;
    border-radius: 5%;

}

.form-button:hover {
    text-shadow: 0px 0px 2px white;
    size: 1rem;

}

@media screen and (max-width:383px) {

    .footer-nav {
        justify-content: space-around;
    }
}

@media screen and (max-width:430px) {

    .footer-social {
        margin-left: 0;
    }
}

@media screen and (min-width:600px) {
    .footer-left {
        flex-grow: 1;
    }
}





