#homepage-main {
    // Text component 1 style, change font family
    font-family: "Lora", Georgia, serif;
}

.welcome {
    @include flexitup(column);
    justify-content: space-around;
    align-content: space-around;
    margin: 1rem;
}

.welcome-text {
    @include flexitup(column);
    align-content: center;
    max-width: 500px;
    margin-bottom: 1.5rem;
}

#welcome-text1 {
    background: $complimentary-color2;
    line-height: 1.5;
    height: 40%;
    padding: 3rem;
    position: relative;
    border-radius: 25px 75px;
}

// Text component 1 style, change size and margin

.greeting {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

#personal-greeting {
    margin-right: 0.5rem;
}

.welcome-image {
    img {
        width: 500px;
        max-width: 100%;
        height: auto;
        border-radius: 5%;
    }
}

#pass-button {
    border-radius: 5%;
    text-align: left;
    width: 150px;
}

#visitor-name {
    height: 1.5rem;
}

@media screen and (min-width: 900px) {
    .welcome {
        flex-direction: row;
        justify-content: space-around;
    }

    #welcome-text1 {
        padding: 3.5rem;
    }

    #welcome-text1:after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 26px;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-left: 26px solid $complimentary-color2;
        border-bottom: 13px solid transparent;
    }
}

.type-effect p {
    border-right: 0.15em solid $primary-color;
    white-space: nowrap;
    overflow: hidden;
}

.type-effect {
    overflow: hidden;
}

.type-effect p:nth-child(1) {
    width: 4.5em;
    animation: type 2s steps(10, end);
    animation-fill-mode: forwards;
}

.type-effect p:nth-child(2) {
    width: 12em;
    opacity: 0;
    animation: type2 4s steps(25, end);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.type-effect p:nth-child(3) {
    width: 8em;
    opacity: 0;
    animation: type3 3.5s steps(15, end);
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.type-effect p:nth-child(4) {
    width: 7.5em;
    opacity: 0;
    animation: type4 3s steps(14, end), blink 0.5s step-end infinite alternate;
    animation-delay: 9.5s;
    animation-fill-mode: forwards;
}

.type-effect p:nth-child(5) {
    animation-delay: 12.5s;
}
.type-effect p:nth-child(6) {
    animation-delay: 12.5s;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 0.15em solid $primary-color;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid $primary-color;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid $primary-color;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type4 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
