* {
    font-family: 'Zen Old Mincho', Helvetica, san-serif;
}


h1 {
    text-align: center;
    font-family: 'Lora', serif;
}

a {
    font-weight: bold;
    border: 5px;
    border-radius: 5rem;
    border-color: #080808;
}


a:visited {
    color: #7226af;

}

a:hover {
    color: #df9b9b;
}

@mixin flexitup ($direction) {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: $direction;
}

.header {
    @include flexitup(row);
}

.logo {
    width: 5vw;
}
.header-nav {
    width: 95vw;
    @include flexitup(row);
}