html {
  font-family: 'Zen Old Mincho', Georgia, serif;
  height: 100%;
  margin: 0;
  color: #030102;
}

body {
  background-color: #fff5f5;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-main button,
.section-main input {
  font-family: 'Lora', Georgia, serif;
}

h1,
h2,
h3 {
  margin: 1rem 0;
  font-family: 'Lora', Georgia, serif;
}

section {
  padding: 1em;
}

.section-header {
  border-bottom: 0.08rem solid #dd8c8c;
}

.section-header .logo img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2.5px solid #df9b9b;
  text-align: center;
  padding: 0px;
}

.section-footer {
  border-top: 0.08rem solid #dd8c8c;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  margin-right: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav a {
  padding: 0.1em 0.5rem 0.25rem 0.5rem;
  background-color: #dd8c8c;
  margin: 0.25em;
  border-radius: 10%;
  border: 3px solid white;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.header-nav a:hover {
  color: white;
  text-shadow: 0px 0px 2px white;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-nav a {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.25em;
  color: #dd8c8c;
  font-weight: bold;
}

.footer-nav a:hover {
  color: #fcb6b6;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25em;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

.main-header {
  padding-bottom: 0;
}

.main-header p {
  text-align: center;
  font-size: 1.6rem;
  padding: 0;
  margin-bottom: 0;
}

.main-header a {
  text-decoration: none;
  color: #4e4ed1;
}

.form-button {
  background-color: #dd8c8c;
  color: white;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 3px solid white;
  border-radius: 5%;
  font-size: 1rem;
}

.form-button:hover {
  text-shadow: 0px 0px 2px white;
}

@media screen and (min-width: 600px) {
  .footer-left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer-social {
    margin-left: 2em;
  }
}

@media screen and (max-width: 382px) {
  .footer-social {
    margin-top: 1em;
  }
}

#homepage-main {
  font-family: 'Lora', Georgia, serif;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 1rem;
}

.welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 500px;
  margin-bottom: 1rem;
}

.greeting-emoj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.greeting {
  margin: 0;
  font-size: 1.5rem;
}

#personal-greeting {
  margin-right: 0.5rem;
}

.welcome-image img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

#pass-button {
  border-radius: 5%;
  text-align: left;
}

#visitor-name {
  height: 1.2rem;
}

@media screen and (min-width: 810px) {
  .welcome {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#thank-name {
  font-family: 'Lora', Georgia, serif;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 100%;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-later {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-later h1 {
  text-align: center;
}

.contact-later img {
  width: 50px;
  height: 50px;
  margin: 0.25rem;
}

#bird {
  width: 3rem;
  height: auto;
  position: absolute;
  margin-bottom: 0;
  padding-bottom: 0;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

@media screen and (min-width: 600px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-social img {
    height: 55px;
    width: 55px;
    margin: 1rem;
  }
}

#portfolio-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio-main video {
  max-width: 100%;
}

#portfolio-main hr {
  width: 90%;
  color: #fabdbe;
}

#portfolio-main h3 {
  text-align: center;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.intro {
  max-width: 80%;
}

#project1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

#project1 hr {
  width: 25%;
}

#project2 {
  margin-top: 2rem;
}

#project2 hr {
  width: 25%;
}

.mobile-videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

@media screen and (min-width: 1080px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .intro {
    width: 200px;
  }
  .mobile-videos {
    width: 800px;
  }
}

.pdf-link {
  font-family: 'Lora', Georgia, serif;
  text-align: center;
}

#resume-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#resume-main .experience-date {
  margin: 0;
}

#resume-main h2 {
  margin-top: 1rem;
}

#resume-main h3 {
  margin: 0;
}

#resume-main ul {
  padding-left: 1rem;
  margin: 1rem 0;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem;
  padding: 1em 2em;
  border-radius: 5%;
}

#skills {
  background-color: #fabdbe;
  -webkit-box-shadow: 8px 8px 16px #e49394;
          box-shadow: 8px 8px 16px #e49394;
}

#skills ul {
  margin-top: 0;
}

#experience {
  background-color: #f1d3e2;
  -webkit-box-shadow: 8px 8px 16px #f1b1d1;
          box-shadow: 8px 8px 16px #f1b1d1;
}

#education {
  background-color: #ffd2d1;
  -webkit-box-shadow: 8px 8px 16px #eeabaa;
          box-shadow: 8px 8px 16px #eeabaa;
}

#education p {
  margin: 0;
}

#education #para-mfm {
  margin-bottom: 0;
}

@media screen and (min-width: 400px) {
  .resume {
    width: 300px;
  }
}

@media screen and (min-width: 1080px) {
  #resume-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0;
  }
  .resume {
    width: 250px;
  }
}

#blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog-main figure {
  margin: 0 1rem;
}

#blog-main figcaption {
  font-size: 0.9rem;
  text-align: center;
  font-style: oblique;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.blog h3 {
  margin: 0;
}

.blog time,
.blog span {
  font-size: 0.9rem;
}

.blog .blog-date {
  font-size: 0.5rem;
  margin: 0;
}

.blog .blog-summary {
  margin: 0 0 1rem 1rem;
  max-width: 650px;
}

.blog-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

.blog-overview .blog-icon-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2.5px solid #df9b9b;
  margin-right: 1rem;
}

.blog-image {
  border-radius: 5%;
  max-width: 100%;
}

@media screen and (min-width: 800px) {
  #blog-main {
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 1.2rem;
  }
  .blog-image {
    max-width: 750px;
  }
}

@media screen and (max-width: 375px) {
  #blog-main {
    font-size: 0.9rem;
  }
  #blog-main figcaption {
    font-size: 0.6rem;
  }
  .blog-overview .blog-icon-image {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 760px) {
  .blog-summary p {
    max-width: 90%;
  }
}

@media screen and (max-width: 330px) {
  #blog-main {
    font-size: 0.8rem;
  }
  #blog-main figcaption {
    font-size: 0.5rem;
  }
  #blog-main h3 {
    font-size: 0.9rem;
  }
  .blog-overview .blog-icon-image {
    width: 40px;
    height: 40px;
  }
}

#personal-main {
  font-family: 'Dancing Script', cursive;
}

#personal-main h2, #personal-main button {
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

#personal-main p {
  font-size: 1.2rem;
}

.game-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-button button {
  width: 120px;
  height: auto;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.this-that {
  margin-bottom: 1.5rem;
}

#dog,
#coffee, #netflix, #android {
  background-color: #dd8c8c;
}

#cat,
#tea, #youtube, #ios {
  background-color: #dfd6fa;
}

hr {
  color: #dd8c8c;
  width: 60%;
}

.personal-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-map img {
  height: auto;
  max-width: 90%;
  margin: 1.5rem 0;
  border-radius: 5%;
}

.personal-map p {
  max-width: 80%;
  text-align: justify;
  text-indent: 30px;
  line-height: 1.5;
  margin: 0;
}

@media screen and (min-width: 810px) {
  .this-that {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .games4 {
    margin: 0 1rem;
  }
}
