html {
  font-family: 'Zen Old Mincho', Georgia, serif;
  height: 100%;
  margin: 0;
  color: #030102;
}

body {
  background-color: #fff5f5;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, h3 {
  font-family: 'Lora', Georgia, serif;
  margin: 0 0 1rem 0;
}

section {
  padding: 1em;
}

.section-header {
  border-bottom: 0.08rem solid #dd8c8c;
}

.section-header .logo img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2.5px solid #df9b9b;
  text-align: center;
  padding: 0px;
}

.section-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-footer {
  border-top: 0.08rem solid #dd8c8c;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  margin-right: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav a {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.25em;
  background-color: #dd8c8c;
  margin: 0.25em;
  border-radius: 10%;
  border: 3px solid white;
  color: white;
  font-weight: 00;
  text-decoration: none;
}

.header-nav a:hover {
  color: white;
  text-shadow: 0px 0px 2px white;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav a {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.25em;
  color: #dd8c8c;
  font-weight: bold;
}

.footer-nav a:hover {
  color: #fcb6b6;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3em;
}

.footer-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25em;
}

.footer-social img {
  width: 30px;
  height: 30px;
}

.main-header {
  padding-bottom: 0;
}

.main-header p {
  font-family: 'Lora', Georgia, serif;
  text-align: center;
  font-size: 1.6rem;
  padding: 0;
  margin-bottom: 0;
}

.main-header a {
  text-decoration: none;
  color: #4e4ed1;
}

.form-button {
  background-color: #dd8c8c;
  margin-top: 1rem;
  color: white;
  padding: 0.5rem;
}

.form-button:hover {
  text-shadow: 0px 0px 2px white;
  size: 1rem;
}

@media screen and (max-width: 383px) {
  .footer-nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 430px) {
  .footer-social {
    margin-left: 0;
  }
}

@media screen and (min-width: 600px) {
  .footer-left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

#homepage-main {
  font-family: 'Lora', Georgia, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.5rem;
}

.welcome-message {
  margin-bottom: 1.5rem;
}

#greeting {
  text-align: left;
  margin-top: 0;
}

#welcome-image {
  max-width: 100%;
}

#pass-button {
  font-size: 1rem;
  font-family: 'Lora', Georgia, serif;
  margin: 1rem 0 0 0;
}

#visitor-name {
  height: 1.2rem;
}

.thank-you {
  text-align: center;
  margin-top: 1rem;
}

#contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-divider {
  text-align: center;
}

.contact-divider img {
  height: 30%;
  max-width: 90%;
}

.contact-later {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-later h1 {
  text-align: center;
}

.contact-later img {
  width: 50px;
  height: 50px;
  margin: 0.25rem;
}

@media screen and (min-width: 600px) {
  #contact-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .contact-social img {
    height: 65px;
    width: 65px;
    margin: 1rem;
  }
}

#bird {
  width: 3rem;
  height: auto;
  position: absolute;
  margin-bottom: 0;
  padding-bottom: 0;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-animation-name: flying-bird;
          animation-name: flying-bird;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes flying-bird {
  from {
    left: 0px;
  }
  to {
    left: 1200px;
  }
}

@keyframes flying-bird {
  from {
    left: 0px;
  }
  to {
    left: 1200px;
  }
}

.main-header p {
  text-align: center;
}

#resume-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#resume-main .experience-date {
  margin: 0;
}

#resume-main h2 {
  margin-top: 1rem;
}

#resume-main h3 {
  margin-bottom: 0;
}

#resume-main ul {
  padding-left: 1rem;
  margin: 1rem 0;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem;
  padding: 1em 2em;
  border-radius: 5%;
}

#skills {
  background-color: #fabdbe;
  -webkit-box-shadow: 8px 8px 16px #e49394;
          box-shadow: 8px 8px 16px #e49394;
}

#skills ul {
  margin-top: 0;
}

#experience {
  background-color: #f1d3e2;
  -webkit-box-shadow: 8px 8px 16px #f1b1d1;
          box-shadow: 8px 8px 16px #f1b1d1;
}

#education {
  background-color: #ffd2d1;
  -webkit-box-shadow: 8px 8px 16px #eeabaa;
          box-shadow: 8px 8px 16px #eeabaa;
}

#education p {
  margin: 0;
}

#education #para-mfm {
  margin-bottom: 0;
}

@media screen and (min-width: 400px) {
  .resume {
    width: 300px;
  }
}

@media screen and (min-width: 1080px) {
  #resume-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  .resume {
    width: 250px;
  }
}

#blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog-main h3 {
  margin-bottom: 0;
}

#blog-main p {
  margin: 0;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.blog-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.blog-overview .blog-icon-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2.5px solid #df9b9b;
  margin: 0 1rem;
}

.blog-summary {
  margin-left: 1rem;
}

.blog-image {
  border-radius: 5%;
  max-width: 100%;
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  .blog-image {
    max-width: 750px;
  }
  #blog-main {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
