#personal-main {
    font-family: "Dancing Script", cursive;

    h2,
    button {
        font-family: "Dancing Script", cursive;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
    }
}

.game-button {
    display: flex;
    justify-content: center;

    button {
        width: 120px;
        height: auto;
        margin: 1rem 0;
        font-size: 1.3rem;
    }
}

.this-that {
    margin-bottom: 1.5rem;
}

#dogs,
#coffee,
#netflix,
#android {
    background-color: $primary-color;
}

#cat,
#tea,
#youtube,
#ios {
    background-color: $complimentary-color4;
}

hr {
    color: $primary-color;
    width: 60%;
}

.personal-map {
    @include flexitup(column);
    align-items: center;

    img {
        height: auto;
        max-width: 90%;
        margin: 1.5rem 0;
        border-radius: 5%;
    }

    // Text component 3 - Change font family, font size (above) text indentation, line height.

    p {
        max-width: 80%;
        text-align: justify;
        text-indent: 30px;
        line-height: 1.5;
        margin: 0;
    }
}

.answers {
    display: none;
}



@media screen and (min-width: 810px) {
    .this-that {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .games4 {
        margin: 0 1rem;
    }
}
