#personal-main {

    font-family: 'Dancing Script', cursive;
    @include flexitup(column);
    align-items: center;
    font-size: 1.3rem;


    img {
        width: 1000px;
        height: auto;
        max-width: 100%;
        margin-top: 1.5rem;;
        border-radius: 5%;

    }

    // Text component 3 - Change font family, font size (above) text indentation, line height.

    h2 {
        font-family: 'Dancing Script', cursive;
    }

    p {
        max-width: 800px;
        text-indent: 30px;
        line-height: 1.5;
        margin: 0;
    }
}


@media screen and (max-width:810px) {

    #personal-main {
        font-size: 1.3rem;
        line-height: 1.3;
    }

}


@media screen and (max-width:375px) {

    #personal-main {
        font-size: 1.1rem;
        line-height: 1.1;

    }

}