#personal-main {

    h2, p,
    button {
                font-family: 'Dancing Script', cursive;
                text-align: center;
    }

    p{
        font-size: 1.2rem;
    }

    .game-button {
        @include flexitup(row);
        justify-content: center;
    }

    button {
        width: 200px;
        height: auto;
        margin: 1rem 0;
        font-size: 1.5rem;

        
    }

    #dog {
        background-color: $primary-color;
    }

    #cat {
        background-color: $complimentary-color4;
    }

    hr {
        color: $primary-color;
        width: 60%;
    }


}

.this-that {
    @include flexitup(row);
    justify-content: space-around;

    button,
    img {
        width: 150px;
        height: auto;
    }
}



.personal-map {


    @include flexitup(column);
    align-items: center;


    img {
        height: auto;
        max-width: 90%;
        margin: 1.5rem 0;;
        border-radius: 5%;

    }

    // Text component 3 - Change font family, font size (above) text indentation, line height.

    h2 {
        font-family: 'Dancing Script', cursive;
    }

    p {
        max-width: 80%;
        text-indent: 30px;
        line-height: 1.5;
        margin: 0;
    }
}


@media screen and (max-width:810px) {

    #this-that-header {
        max-width: 60%;
        text-align: center;
    }

    .personal-map {
        line-height: 1.3;
    }

}


@media screen and (max-width:375px) {

    .personal-map {
        line-height: 1.1;

    }

}