$primary-color-pastel: #df9b9b;
$complimentary-color1: #fcb6b6;
$complimentary-color2: #ffd2d1;
$complimentary-color3: #ffeeee;
$background-color: #fff5f5;
$adjacent-color-plum: #df9bbd;
$adjacent-color-pantone: #dfbd9b;
$blue-ocean: #3de6e9;
$calming-green: #89aeb2;