$primary-color-pastel: #df9b9b;
$complimentary-color1: #fcb6b6;
$complimentary-color2: #ffd2d1;
$complimentary-color3: #ffeeee;
$background-color: #fff5f5;
$adjacent-color1: #f1d3e2;
$adjacent-color2: #9bc1df;
$blue-ocean: #d9f9fa;
$calming-green: #def1e7;

