$primary-color: #dd8c8c;
$complimentary-color1: #fcb6b6;
$complimentary-color2: #ffd2d1;
$complimentary-color3: #ffeeee;
$complimentary-color4: #dfd6fa;
$complimentary-color5: #ffeec2;
$background-color: #fff5f5;
$adjacent-color1: #f1d3e2;
$adjacent-color3: #fabdbe;
$blue-ocean: #bef1ea;
$calming-green: #deeebf;

$primary-text-color: #030102;



